@use "reset";
@use "themes/normal";
@use "themes/dark";
@use "variables/global";

body {
	font: var(--font-m);
	color: var(--primary-color);
}

.app {
	min-height: 100vh;
	background: var(--bg-color);
}

.content-page {
	display: flex;
}
