.app.dark {
  --bg-color: #1e223f;
  --inverted-bg-color: #5860a1;
  --primary-color: rgb(136 175 136);
  --secondary-color: rgb(230 230 230);
  --inverted-primary-color: rgb(159 187 159);
  --inverted-secondary-color: rgb(255 255 255);
}