.Drawer {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);
}
.opened .content {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.sheet {
  z-index: 1001;
  position: fixed;
  left: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 12px 12px 0px;
  background: var(--bg-color);
  -ms-touch-action: none;
      touch-action: none;
  padding: 16px;
}