.app.light {
  --bg-color: #5860a1;
  --inverted-bg-color: #1e223f;
  --primary-color: rgb(159 187 159);
  --secondary-color: rgb(80 85 87);
  --inverted-primary-color: rgb(136 175 136);
  --inverted-secondary-color: rgb(230 230 230);
}