.ArticleList {
	flex: 1;
	min-height: 0;
}
.left {
	padding-left: 45px;
}

.list {
	min-height: 0;
}

.grid {
	min-height: 0;
	gap: 20px;
}

.BIG {
	.card {
		padding: 0px 20px 20px 0px;
	}

	.sceleton {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}

.SMALL {
	.sceleton {
		display: flex;
		gap: 16px;
	}
}

.trigger {
	height: 20px;
	margin: 10px;
}
