.ArticleList {
	width: 100%;
	height: calc(100vh - var(--navbar-height));
	flex-shrink: 100; // было 100 — это плохо
	display: flex;
	flex-direction: column;
}

.left {
	padding-left: 45px;
}

.list {
	height: 100%;
	min-height: 0;
}

.grid {
	height: 100%;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
}
.BIG {
	.card {
		padding: 0px 20px 20px 0px;
	}
	.sceleton {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}
.SMALL {
	.sceleton {
		display: flex;
		gap: 16px;
	}
}

.trigger {
	height: 20px;
	margin: 10px;
}
