.wrapper {
	position: relative;
}
.trigger {
	background: none;
	padding: none;
	margin: none;
	outline: none;
	border: none;
}
.btn {
	min-width: 100px;
}

.options {
	background-color: var(--card-bg);
	position: absolute;
	z-index: 10;
	border-radius: 0 0 12px 12px;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.options {
	overflow: hidden;
}

.item {
	padding: 5px;
}
.active {
	background-color: var(--inverted-bg-color);
	color: var(--card-bg);
}
.disabled {
	opacity: 0.7;
}
.optionsBottomLeft {
	top: 100%;
	right: 0;
}
.optionsBottomRight {
	top: 100%;
	left: 0;
}

.optionsTopLeft {
	bottom: 100%;
	right: 0;
}

.optionsTopRight {
	bottom: 100%;
	left: 0;
}
