:root[data-theme='system'] {
	--bg-color: #003641;
	--inverted-bg-color: #f4fafb;
	--primary-color: #001a0f;
	--secondary-color: #001a0f;
	--inverted-primary-color: #f4fafb;
	--inverted-secondary-color: #003641;

	// skeleton
	--skeleton-color: #fff;
	--skeleton-shadow: rgba(0 0 0 / 20%);

	// code
	--code-bg: #fff;
}
