.DropDown {
	position: relative;
}

.btn {
	cursor: pointer;
	background: none;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
}
.items {
	background: var(--card-bg);
	position: absolute;
	z-index: 10;
	border-radius: 0 0 8px 8px;
	border: 1px solid var(--primary-color);
	display: flex;
	flex-direction: column;
}
.item {
	cursor: pointer;
	padding: 10px 25px;
	width: 100%;
	border: none;
	outline: none;
	background: none;
	color: var(--primary-color);
}

.active {
	background: var(--inverted-primary-color);
	color: var(--card-bg);
}

.optionsBottomLeft {
	top: 100%;
	right: 0;
}
.optionsBottomRight {
	top: 100%;
	left: 0;
}

.optionsTopLeft {
	bottom: 100%;
	right: 0;
}

.optionsTopRight {
	bottom: 100%;
	left: 0;
}
