.ArticlesPageFilter {
	padding-top: 20px;
	padding-right: 20px;
}
.sortWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search {
	margin-top: 16px;
}
.tabs {
	margin-top: 16px;
	margin-bottom: 16px;
}
